* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(header-shapes\ mobile.png);
  background-size: cover;
  font-family: Poppins;
  width: 375px;
  height: 718px;
  margin: auto;
}
.header {
  height: 50px;

  display: flex;
}
.header .left {
  width: 50%;
  height: 100%;
}
.header .left .logo {
  font-size: 18px;
  font-weight: 700;
  font-family: Poppins;
  padding: 8px;
  color: #6070ff;
}
.header .right {
  width: 50%;
  height: 100%;
  flex-direction: row;
  align-content: end;
}
.header .right .menubar {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 12px;
}
.header .right .menubar .menubar1 {
  border: 2px solid #6070ff;
  width: 20px;
  margin: 1px;
}
.header .right .menubar .menubar2 {
  border: 2px solid #6070ff;
  width: 20px;
  margin: 1px;
}
.header .right .menubar .menubar3 {
  border: 2px solid #6070ff;
  width: 20px;
  margin: 1px;
}
.container {
  width: 375px;
  margin-top: 114px;
  text-align: center;
  left: 0;
  text-align: justify;
}
.container .name {
  width: 327%;
  height: 150px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container .bio {
  width: 327px;
  height: 146px;
  left: 0px;
  top: 0px;

  margin-top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.container .lets_contact {
  width: 127px;
  height: 24px;
  margin-top: 12px;
}
.container .lets_contact .contact {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.social {
  padding-top: 5%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 6%;
}

.social-icons-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  height: auto;
  width: auto;
}

.social-icon {
  display: flex;
  vertical-align: top;
  padding: 3px;
}

.social-icon i {
  color: #505f79;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

/* SCROLL BUTTON */

.btn-scroll-down {
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.chevron-down {
  color: #172b4d;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 12.5px;
  top: 10px;
}

.social-icon i:hover {
  color: #6070ff;
}
