* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #e5e5e5;
}

body {
  width: 375px;
  height: 738px;
  margin: auto;
  background-color: #fff;
  border-radius: 0 0 0 70px;
}

.header {
  height: 50px;
  display: flex;
  background-image: url(./images/header-background-mobile.png);
  background-size: cover;
  margin-left: 12px;
}

.header .left {
  width: 50%;
  height: 100%;
}

.social-icon a {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 40px;
  color: #333;
}

.header .left a {
  text-decoration: none;
}

.header .left .logo {
  font-size: 18px;
  font-weight: 700;
  padding: 8px;
  color: #6070ff;
}

.header .right {
  width: 50%;
  height: 100%;
  align-content: end;
}

.header .right .menubar {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 12px;
}

.header .right .menubar .menubar1 {
  border: 2px solid #6070ff;
  width: 20px;
  margin: 1px;
}

.header .right .menubar .menubar2 {
  border: 2px solid #6070ff;
  width: 20px;
  margin: 1px;
}

.header .right .menubar .menubar3 {
  border: 2px solid #6070ff;
  width: 20px;
  margin: 1px;
}

.container {
  width: 375px;
  height: 591px;
  margin-top: 90px;
  background-image: url(./images/header-shapes\ mobile.png);
  background-size: cover;
}

.container .name {
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  padding: 90px 24px 170px;
  line-height: 52px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container .bio {
  width: 327px;
  height: 146px;
  left: 0;
  top: 0;
  padding: 3px 24px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.container .lets_contact {
  width: 157px;
  height: 24px;
  margin-top: 40px;
  padding-left: 24px;
}

.container .lets_contact .contact {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social {
  padding-top: 5%;
  display: flex;
  padding-bottom: 6%;
}

.social-icons-set {
  display: flex;
  padding: 2px;
}

.social-icon {
  list-style: none;
  margin: 0 10px;
}

.social-icon :hover {
  color: #6070ff;
}

.social-icon a i {
  font-size: 20px;
  color: #505f79;
  margin: 2px 12px;
}

.social-icon + .social-icon {
  padding-left: 1px;
}

.deatails {
  margin-top: 150px;
  display: grid;
  padding: 16px;
  gap: 12px;
  width: 375px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.shot {
  width: 340px;
  height: 220px;
  background: url(./images/Snapshoot\ Portfolio.png);
  background-size: cover;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pro-title {
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item-parrent {
  display: flex;
  align-items: center;
  align-self: self-start;
  gap: 12px;
  width: 236px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.item-list {
  list-style-type: none;
  width: 120px;
}

.item1 {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 55px;
  height: 32px;
  flex: none;
}

.conopy {
  width: 55px;
  height: 16px;
  padding-left: 4px;
  font-weight: 550;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c1c7d0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.item3 {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 75px;
  height: 32px;
  flex: none;
  order: 2;
}

.back {
  width: 88px;
  height: 16px;
  font-weight: 550;
  font-size: 11px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item4 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c1c7d0;
  flex: none;
  order: 3;
}

.item5 {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 29px;
  height: 32px;
  flex: none;
  order: 4;
}

.year {
  width: 29px;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text {
  width: 295px;
  height: 76px;
  font-weight: 450;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
}

.tags {
  display: flex;
  align-items: center;
  align-self: start;
  gap: 8px;
  width: 214px;
  height: 24px;
  flex: none;
  order: 2;
}

.ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.html {
  padding: 4px 12px;
  margin: 20px 1px;
  width: 57px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.h {
  width: 33px;
  height: 16px;
  font-weight: 550;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.css {
  padding: 4px 12px;
  margin: 20px 1px;
  width: 49px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.c {
  width: 25px;
  height: 16px;
  font-weight: 550;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.js {
  padding: 4px 12px;
  margin: 20px 1px;
  width: 92px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.j {
  width: 68px;
  height: 16px;
  font-weight: 550;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.action {
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.boxx {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  margin-top: 14px;
  position: absolute;
  width: 126px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: #fff;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: croshair;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0em;
  border-width: 2px;
  border-style: none;
  border-color: #fff;
  border-image: initial;
}

.see-btn:hover {
  color: #6070ff;
}

.see-btn:active {
  color: #000;
}

.se {
  width: 102px;
  height: 24px;
  color: #396df2;
  font-weight: 510;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  flex: none;
}

.se:hover {
  color: #fff;
  background-color: #396df2;
}

.footer {
  position: absolute;
  width: 375px;
  height: 1263px;
  margin-top: 80px;
  background: #fff;
  border-radius: 0 70px 0 0;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  margin-top: 20px;
  margin-left: 12px;
  width: 327px;
  height: 346px;
  flex: none;
}

.about {
  width: 327px;
  height: 35px;
  padding: 114px 12px;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
}

.content {
  width: 327px;
  height: 147px;
  margin-top: -200px;
  margin-left: 12px;
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
}

.footerbox {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 117px;
  height: 24px;
  flex: none;
  padding: 24px;
}

.social2 {
  padding-left: 18px;
  margin-bottom: 6%;
}

.lets {
  width: 197px;
  height: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding-top: 12px;
  color: #7f8cff;
  flex: none;
}

.box3 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-left: 32px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  flex: none;
  order: 3;
}

.box3c {
  width: 138px;
  height: 24px;
  font-weight: b;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  width: 327px;
  height: 464.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
  height: 320.15px;
  flex: none;
}

.frame2 {
  width: 327px;
  height: 72px;
  margin: -310px;
  display: flex;
  flex: none;
}

.framel {
  width: 70%;
  height: 100%;
}

.lan {
  position: absolute;
  padding: 24px 38px;
  text-align: center;
  font-weight: 500px;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.framer {
  width: 30%;
  height: 100%;
  align-content: end;
  color: #acb7c3;
}

.soc {
  margin: 25px 40px;
  font-size: 18px;
  list-style-type: none;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
  margin: auto;
  margin-top: -390px;
  list-style-type: none;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.jsfr {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.jste {
  position: absolute;
  padding: 20px 80px 20px;
  font-weight: 500px;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.im {
  position: absolute;
  left: 20px;
  padding-top: 8px;
  padding-left: 25px;
  border: 1px solid #fff;
}

.endtop {
  width: 327px;
  height: 72px;
  display: flex;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #acb7c3;
}

.endl {
  width: 70%;
  height: 100%;
}

.endr {
  width: 30%;
  height: 100%;
  align-content: end;
}

.framworks {
  position: absolute;
  padding: 25px 45px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.soc1 {
  color: #acb7c3;
}

.w {
  width: 357px;
  margin: 10px;
}
